@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
   --shadow-1: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

@layer components {
   .btn {
      @apply flex items-center gap-2 font-semibold transition duration-300 active:scale-90 active:shadow-none;
   }

   .foc {
      @apply outline outline-2 outline-violet-500 outline-offset-4;
   }

   .btn-ghost {
      @apply flex items-center gap-2 rounded-md font-semibold tracking-wider hover:bg-gray-200 py-3 px-5;
   }

   .btn-primary {
      @apply btn text-sm md:text-base px-6 py-2  md:tracking-wider bg-violet-700 text-white border border-violet-700 rounded-full hover:bg-violet-900 hover:border-violet-900 transition duration-200 active:scale-90 focus:foc;
   }

   .btn-white {
      @apply btn px-6 py-2 bg-white text-black shadow-lg rounded-lg  hover:bg-black hover:text-white;
   }

   .btn-square {
      @apply btn justify-center w-10 h-10 bg-white text-black shadow-lg rounded-lg  hover:bg-black hover:text-white;
   }

   .btn-black {
      @apply btn px-4 py-2 bg-black text-white shadow-lg rounded-lg  hover:!opacity-75;
   }

   .btn-glass {
      @apply btn inline items-baseline py-2 px-6 bg-white bg-opacity-20 shadow-lg rounded-lg hover:text-black hover:bg-white hover:bg-opacity-90;
   }

   .btn-menu {
      @apply px-4 py-2 font-medium opacity-80 hover:opacity-100 active:text-violet-800;
   }

   .section-title {
      @apply text-3xl lg:text-4xl capitalize font-bold md:tracking-wider;
   }

   .fade-up {
      @apply transition duration-500 opacity-0 group-hover:opacity-100;
   }

   .slide-up {
      @apply transition duration-500 translate-y-4 group-hover:translate-y-0;
   }

   .reveal-left {
      @apply transition duration-700 translate-x-10 opacity-0 group-hover:opacity-100 group-hover:translate-x-0;
   }

   .pop-up {
      @apply slide-up fade-up;
   }
}

body,
button {
   font-family: "Poppins", sans-serif !important;
}

a:focus-visible,
button:focus-visible {
   outline: 2px solid #8b5cf6;
   outlineoffset: 4px;
   border-radius: 5px;
}

.heroSlide .swiper-button-next,
.heroSlide .swiper-button-prev {
   color: #fff;
}
.heroSlide .swiper-button-next::after,
.heroSlide .swiper-button-prev::after {
   font-size: 30px !important;
}

.heroSlide .swiper-pagination-bullet {
   background-color: #fff;
   transition: all 0.5s ease;
}

.heroSlide .swiper-pagination-bullet.swiper-pagination-bullet-active {
   width: 20px;
   border-radius: 25px;
}
/* 
.productList .swiper-button-next,
.productList .swiper-button-prev {
   color: rgb(0, 0, 0);
   top: 12px !important;
   padding: 0 1.3rem;
   transition: transform 0.4s ease;
}

.productList .swiper-container {
   padding-top: 2.5rem;
}

.productList .swiper-button-next::after,
.productList .swiper-button-prev::after {
   font-size: 20px !important;
}

.productList .swiper-button-next {
   right: 30%;
}

.productList .swiper-button-next:hover {
   transform: translateX(1rem);
}

.productList .swiper-button-prev {
   left: 30%;
}

.productList .swiper-button-prev:hover {
   transform: translateX(-1rem);
} */

/* ******************************************************** */

.styledArrow .swiper-button-next,
.styledArrow .swiper-button-prev {
   color: rgb(0, 0, 0);
   background: white;
   border-radius: 100%;
   padding: 0 1.3rem;
   transition: transform 0.4s ease;
   box-shadow: var(--shadow-1);
}

.styledArrow .swiper-button-next:hover,
.styledArrow .swiper-button-prev:hover {
   color: white;
   background: #000;
}

.styledArrow .swiper-button-next::after,
.styledArrow .swiper-button-prev::after {
   font-size: 15px !important;
}

.styledArrow .swiper-button-next {
   right: 0;
}

.styledArrow .swiper-button-prev {
   left: 0;
}

/* ******************************************************** */
.ArrowTop .swiper-button-next,
.ArrowTop .swiper-button-prev {
   top: 30px;
   border-radius: 8px !important;
   padding: 0 2rem !important;
}

.ArrowTop .swiper-container {
   padding-top: 3.5rem;
}

@media (max-width: 768px) {
   .mdArrow .swiper-button-next,
   .mdArrow .swiper-button-prev {
      display: none !important;
   }
}
